.home .banner {
    width: 100%;
    height: auto;
}

.home .arrow-down {
    color: #578E7E;
    font-size: 48px;
    position: absolute;
    left: 460px;
    bottom: 120px;
    border-radius: 50%;
    border: 2px solid #578E7E;
    cursor: pointer;
}
