.footer-infos {
    margin-top: 24px;
    height: 72px;
    padding: 8px 16px 8px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #578E7E;
}

.footer-infos .footer-list {
    display: flex;
    gap: 4px;
}

.footer-infos .footer-list ul {
    list-style-type: none;
}

.footer-infos .footer-list img {
    height: 24px;
}

.footer-infos .footer-logo .logo {
    height: 80px;
    width: auto;
}

.footer-infos .footer-dev {
    width: 360px;
    text-align: center;
    font-size: 12px;
    color: #FFF;
}