.theme {
    text-align: center;
    padding: 32px;
}

.theme h3 {
    font-size: 32px;
    border-bottom: 4px solid;
    display: inline-block;
    padding-bottom: 8px;
}

.theme .theme-learning-card {
    display: flex;
    justify-content: space-around;
    margin-top: 32px;
    flex-wrap: wrap;
}

.theme .change-color {
    position: absolute;
    right: 48px;
}
